<body>
  <div class="container">
      <div class="col-md-3"></div>
    <div class="row">
      <div class="col-sm-8 col-md-5">
        <div class="card card-signin my-5">
          <div class="card-body">
            <form (submit)="login()">
              <h1 class="h3 mb-3 font-weight-normal">Authentification</h1>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email"  placeholder="Enter email"  [(ngModel)]="credentials.email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password"  placeholder="Password" [(ngModel)]="credentials.password">
              </div>
              <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>