<nav class="navbar navbar-default" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="#">{{getTitle()}}</a>
            </div>
            <div class="collapse navbar-collapse" *ngIf="auth.isLoggedIn()">
                <ul class="nav navbar-nav navbar-right">
                <li>
                    <a   class="dropdown-toggle" data-toggle="dropdown"><!--  routerLink="/profile"  -->
                     <i class="fa fa-user"></i>
                     {{ auth.getUserDetails()?.first_name }}</a>
                  </li>
                 <li *ngFor="let menuItem of menuItems"  class="{{menuItem.class}}">
                        <a [routerLink]="[menuItem.path]">
                            <i class="{{menuItem.icon}}"></i>
                            <p>{{menuItem.title}}</p>
                        </a>
                    </li>
                    <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-sign-out"></i>
                            <a class="nav-link " routerLink="" (click)="auth.logout()"> Déconnecter</a></a>
                    </li>
                </ul>
    
            </div>
        </div>
       
    </nav>
