  <div class="col-lg-8 col-md-7">
      <div class="card">
              <div class="panel panel-default">
                      <div class="panel-heading">
                        <h1 class="panel-title">Profil</h1>
                      </div>
              </div>
          <div class="content">
                  <div class="row">
                      <div class="col-md-8">
                          <div class="form-group">
                              <label>Nom:</label>
                              <b>{{ details?.first_name }}</b>
                          </div>
                        </div>
                  </div>
                      <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Prenom:</label>
                                <b>{{details?.last_name }}</b>
                            </div>
                          </div>
                          </div>
                          <div class="row">
                          <div class="col-md-8">
                              <div class="form-group">
                                  <label>Email</label>
                                  <b>{{details?.email}}</b>
                              </div>
                            </div>
                            </div>
          </div>
      </div>
    </div>