    <div class="container-fluid" > 
        <div class="row">
            <div class="col-lg-4 col-md-5">
                 <!-- <div class="card card-user">
                    <div class="image">
                    </div>
                    <div class="content">
                        <div class="author">
                          <img [src]="imageUrl" class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/>
                          <h4 class="title">Chet Faker<br />
                             <a href="#"><small>@chetfaker</small></a>
                          </h4>
                        </div>
                    </div>
                    <hr>         
                </div>  -->
                <div class="card">
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h1 class="panel-title">Liste des candidats</h1>
                                </div>
                        </div>
                        <div class="content ">
                            <ul class="list-unstyled team-members " *ngFor="let user of usersList | paginate: {itemsPerPage: 4, currentPage: p}">
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <div class="avatar">
                                                        <img  src="assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    {{user.nom}}
                                                    <br />
                                                    <span class="text-muted"><small>{{user.prenom}}</small></span>
                                                </div>
                    
                                                <div class="col-xs-2 text-right">
                                                        <a class="btn text-danger" (click)="onDelete(user)">
                                                               <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                                                              </a>
                                                </div>
                                                <div class="col-xs-2 text-right">
                                                        <a class="btn" (click)="showForEdit(user)">
                                                                <i class="fa fa-pencil-square-o fa-2x"></i>
                                                              </a>
                                                </div>
                                            </div>
                                            <hr>
                                        </li>
                                        
                            </ul>
                            <pagination-controls [ngClass]="{'hide':usersList==null }" (pageChange)="p = $event"></pagination-controls>
                        </div>   
                <div [ngClass]="{'hide':usersList!=null }" ><img src="../../assets/img/load.gif"></div>
                    </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h1 class="panel-title">Gestion des Candidats</h1>
                                </div>
                        </div>
                    <div class="content">
                        <form class="cdt-form" #candidatForm="ngForm" (ngSubmit)="onSubmit(candidatForm)">
                            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="selectedCandidat.id">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nom</label>
                                        <input class="form-control border-input text-uppercase " name="nom" #nom="ngModel" 
                                        [(ngModel)]="selectedCandidat.nom" placeholder="nom" required autocomplete="off" >
                                      <div class="alert alert-danger" *ngIf="nom.invalid && nom.touched">le nom est obligatoire</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Prenom</label>
                                        <input class="form-control border-input text-uppercase " name="prenom" #prenom="ngModel" autocomplete="off"  [(ngModel)]="selectedCandidat.prenom"
                                        placeholder="prenom" required>
                                      <div class="alert alert-danger" *ngIf="prenom.invalid && prenom.touched">le prenom est obligatoire</div>
                                    </div>
                                </div>
    
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date d'embauche</label>
                                        <input class="form-control border-input text-uppercase " type="date" name="dateEmbouche" autocomplete="off"  #dateEmbouche="ngModel" [(ngModel)]="selectedCandidat.dateEmbouche"
                                        placeholder="prenom" required>
                                      <div class="alert alert-danger" *ngIf="dateEmbouche.invalid && dateEmbouche.touched">date d'embouche est obligatoire</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date validité de carte de séjour</label>
                                        <input class="form-control border-input text-uppercase" type="date"  name="dateValidCrtSejour" #dateValidCrtSejour="ngModel" [(ngModel)]="selectedCandidat.dateValidCrtSejour"
                                        placeholder="prenom" required>
                                      <div class="alert alert-danger" *ngIf="dateValidCrtSejour.invalid && dateValidCrtSejour.touched">date validité carte séjour est obligatoire</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Poste occupé</label>
                                        <input class="form-control border-input text-uppercase" type="text" autocomplete="off"  name="postOcupe" #postOcupe="ngModel" [(ngModel)]="selectedCandidat.postOcupe"
                                        placeholder="poste occupe" required>
                                      <div class="alert alert-danger" *ngIf="postOcupe.invalid && postOcupe.touched">le champ post occupé est obligatoire</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                    <button type="button" class="btn btn-danger btn-fill"  (click)="resetForm(candidatForm)">Initialser </button>
                                            </div>
                                        </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                                <button  [disabled]="!candidatForm.valid" class="btn btn-success btn-fill ">Sauvegarder Candidat</button>
                                        </div>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   