    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                 <a onMouseOver="this.style.color='#0F0' " onMouseOut="this.style.color='#00F'" (click)="afficheDetailCrtSjr=false;afficheEntreIndivid=false;affichePerEssai=true">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-timer"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Période d'Essai</p>
                                    <div class="numbers" >{{countPeriodEssai?.length}} </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                    <i class="ti-timer"></i>Période d'essai(15j avant la date de validation)
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                <a  onMouseOver="this.style.color='#0F0' " onMouseOut="this.style.color='#00F'" (click)="afficheDetailCrtSjr=true;afficheEntreIndivid=false;affichePerEssai=false">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-wallet"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Carte de Séjour</p>
                                    <div class="numbers" >{{countCartSej?.length}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                    <i class="ti-timer"></i>Carte Séjour(2 mois avant la date fin) 
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                <a   onMouseOver="this.style.color='#0F0' " onMouseOut="this.style.color='#00F'" (click)="afficheDetailCrtSjr=false;afficheEntreIndivid=true;affichePerEssai=false">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-check"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Entretien Individuel</p>
                                    <div class="numbers" >{{countEntAnnuel?.length}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-timer"></i>Entretien Individuel(3 mois avant la date d'entretien) 
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
            <div class="col-lg-12 col-md-5"  [hidden]="!affichePerEssai">
                <div class="card">
                        <div class="content">
                                    <div class="alert alert-success" role="alert" *ngFor="let c of countPeriodEssai" >
                                            <div><b>Mr {{c.nom}} {{c.prenom}}!</b> Date d'ambouche est le {{c.dateEmbouche}}, la période d'esai sera terminer le {{c.dateEmbouche}}  . <span style="text-align: right;"><button class="btn btn-success rie">ok j'ai compris</button></span></div>
                                    </div>
                        </div>
                    </div>
              </div>
      
            <div class="col-lg-12 col-md-5" [hidden]="!afficheDetailCrtSjr">
                <div class="card">
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h1 class="panel-title">Détails des candidats</h1>
                                </div>
                        </div>
                        <div class="content">
                                <div class="alert alert-danger" role="alert" *ngFor="let c of countCartSej" >
                                        <h4 class="alert-heading">Mr {{c.nom}} {{c.prenom}}!</h4>
                                        <p>Date d'ambouche le {{c.dateEmbouche}}, you successfully read this important alert message..</p>
                                        <p class="mb-0"><button class="btn btn-danger rie">ok j'ai compris</button></p>
                                </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-12 col-md-5"  [hidden]="!afficheEntreIndivid">
                <div class="card">
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h1 class="panel-title">Détails des candidats</h1>
                                </div>
                        </div>
                        <div class="content">
                                <div class="alert alert-warning" role="alert" *ngFor="let c of countEntAnnuel" >
                                        <h4 class="alert-heading">Mr {{c.nom}} {{c.prenom}}!</h4>
                                        <p>Date d'ambouche le {{c.dateEmbouche}}, you successfully read this important alert message.</p>
                                        <p class="mb-0"><button class="btn btn-warning rie">ok j'ai compris</button></p>
                                </div>
                        </div>
                    </div>
            </div>